

.item {
    font-size: 50px !important;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    margin: 0;
    text-align: start;
    color: white;
}

.selected {
    font-size: 70px !important;
    // color: #FEE715;
}

.not {
    opacity: 0.5 ;
}