body {
  background-color: #2BAE66;
  color: white;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.control {
  position: fixed;
  right: 30px;
  top: 5px;
  z-index: 1;
  display: flex;
  font-weight: 700;
  &--login {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid white;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    transition: color, background-color 0.5s ;
    cursor: pointer;
    min-width: 97px;
    &:hover {
      color: #2BAE66;
      background-color: white;
    }
  }
}

.App {
  text-align: center;
  width: 100%;
  display: flex;

  &__container {
    position: fixed;
    right: 0;
    width: 55%;
    padding-right: 30px;
    

    &--border {
		padding: 2rem 1rem;
		border: 1rem solid white;
    border-radius: 30px;
    box-shadow: 10px 12px 5px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: 10px 12px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 12px 5px 0px rgba(0,0,0,0.65);
	}
    
    &--logo {
      background-image: url('images/Logo.png');
      width: 80%;
      height: 35vh;
      margin: auto;
      background-size: 100% 100%;
    }
  }
}
