.calculator {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 400px;
    & p {
        font-size: 20px;
        font-weight: 600;
    }
    & input {
        border-radius: 30px;
        width: 80px;
        border: 0;
        height: 25px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        outline-color: #2BAE66;
        outline-offset: 2px;
    }

    & label {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



